adbc_driver_manager==1.5.0
adbc_driver_postgresql==1.5.0
adbc_driver_sqlite==1.5.0
anywidget==0.9.18
AppKit==0.2.8
atheris==2.3.0
authlib==1.5.2
beautifulsoup4==4.13.4
bokeh==3.7.2
boto3==1.38.8
botocore==1.38.8
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.1.0
checks==0.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.3
cudf==0.6.1.post1
cycler==0.11.0
Cython==3.0.11
dask==2025.4.1
dask_expr==2.0.0
defusedxml==0.7.1
docutils==0.21.2
duckdb==1.2.2
fastparquet==2024.11.0
filelock==3.18.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.4.0
gitdb_speedups==0.1.0
graphviz==0.20.3
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.131.9
ibis==3.3.0
importlib_metadata==8.7.0
importlib_resources==5.12.0
ipython==8.12.3
ipywidgets==8.0.6
isoduration==20.11.0
jnius==1.1.0
JPype1==1.5.2
jsonpointer==2.3
keyring==25.6.0
lxml==4.9.2
matplotlib==3.10.1
modin==0.32.0
mtrand==0.1
mypy==1.15.0
numexpr==2.10.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.2
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.14.1
polars==1.29.0
psutil==5.9.5
pycares==4.7.0
pycurl==7.45.6
PyInstaller==6.13.0
pyobjc_framework_Cocoa==10.3.1
pyodide==0.0.2
pyOpenSSL==25.0.0
pyperf==2.9.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.9.0
PySide6==6.9.0
pyspark==3.5.5
pytest==7.3.1
python_calamine==0.3.2
pyxlsb==1.0.10
PyYAML==6.0
PyYAML==6.0.2
QtPy==2.3.1
redis==3.5.3
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2025.3.2
scikit_learn==1.6.1
scipy==1.15.2
scipy_doctest==1.7.1
sets==0.3.2
setuptools==65.5.0
setuptools_scm==8.3.1
simplejson==3.20.1
sniffio==1.3.0
snowflake==1.4.0
Sphinx==8.2.3
SQLAlchemy==2.0.40
sqlframe==3.31.3
sympy==1.11.1
tables==3.10.2
thread==2.0.5
threadpoolctl==3.6.0
traitlets==5.14.3
trio==0.22.0
uri_template==1.2.0
urllib3_secure_extra==0.1.0
vegafusion==2.0.2
watchdog==4.0.0
webcolors==1.13
xarray==2025.4.0
xlrd==2.0.1
xlsxwriter==3.2.3
xmlrpclib==1.0.1
zstandard==0.23.0
